* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


nav ul{
  list-style: none;
  margin: 1px 2px;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

nav ul li a {
  color: black;
  font-size: 16px;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}


header > img {
    border-radius: 50%;
    width: 30%;
    height: auto;
}

section > img {
    width: 90%;
    height: auto;
}

section > a > img {
    width: 20%;
    height: auto;
    text-align: center;
    display: inline;
    padding: 10px 10px;
}

.app-links {
    color: rgb(83, 3, 83);
    font-size: 16px;
    margin: auto 10px;
}






/* phone */

@media screen and (max-width: 768px) {

  header {
    margin: 10px 15px;
  }

  footer {
    font-size: 14px;
    padding: 10px;
  }
  }




/* tablet */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  section > a > img {
    width: 10%;
}
  header > img {
    width: 20%;
}

}




/* larger screens */

@media screen and (min-width: 1024px) {

  section > a > img {
    width: 10%;
    
}

  header > img {
    width: 20%;
  }

}