* {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif; 
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 5% 5%;
}

nav,
footer {
  padding: 1% 0;
  background-color: black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


nav ul{
  list-style: none;
  margin: 3px 2px;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

nav ul li a {
  font-size: 14px;
}

header {
  padding: 6% 0;
}

header > h3 {
  letter-spacing: 1.5px;
  margin-top: 50px;
}

header > img {
  border-radius: 50%;
  width: 20%;
  height: auto;
}


section {
  min-height: 200px;
  padding: 4% 0;
  background-color: white;
}

.app-image{
  width: 80%;
  height: auto;
}

section > img {
    width: 30%;
    height: auto;
    border: 2px solid #ddd;
}

section > a > img {
    width: 20%;
    height: auto;
    text-align: center;
    display: inline;
    padding: 10px 10px;
}

.app-links {
    color: purple;
    font-size: 15px;
    margin: auto 25px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.bio {
  color: #b0ffa5;
}

.proj {
  color: #ffa5be;
}

.git {
  color: #fff8a5;
}

.linkedin {
  color: #7693bd;
}

.black {
  color: black;
}

h3 {
  font-size: 28px;
}

header > h3 {
  color: rgb(79, 101, 226);
}


footer > p {
  color: white;
}

footer > p > a {
  color: white;
  letter-spacing: 1px;
}

.top-space {
  margin-top: 30px;
}

.hobby-icons{
  border: none;
  width: 20%;
}



/* larger screens */

@media screen and (min-width: 768px) {

  section > a > img {
      width: 10%;
  }

  section > img {
    width: 40%;
  }

  header > img {
    width: 15%;
  }

  section > p {
    font-size: 18px;
  }

}

